---
import { getCollection } from "astro:content";

import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const episodes = await getCollection("episodes");

  const pages = episodes.map((episode) => {
    return {
      params: { slug: episode.data.slug },
      props: { entry: episode },
    };
  });

  return pages;
}

const { entry } = Astro.props;
---

<PageLayout title={entry.data.title}>
  <header>
    <h1>{entry.data.title}</h1>
  </header>

  <section set:html={entry.data.formatted_description} />
</PageLayout>

<style>
  header,
  section {
    max-width: 75ch;
    margin: 0 auto;
    padding: 0 2em;
  }

  section {
    padding-top: 3em;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1;
    font-weight: 900;

    + p {
      margin-top: min(1.5vw, 1em);
      font-size: 1.3em;
      line-height: 1.2;
      font-weight: 600;
      text-wrap: balance;
    }
  }

  :global(#coming-soon + p) {
    text-wrap: balance;
  }

  section :global(> p) {
    max-width: 60ch;
    margin: 0.6em 0;
  }

  section :global(:is(h1, h2, h3, h4)) {
    font-size: 2em;
    font-weight: 900;
  }

  section :global(> * + :is(h1, h2, h3, h4)) {
    font-weight: 900;
    margin-top: min(5%, 3em);
  }

  aside {
    max-width: 100ch;
    margin: min(5%, 3em) auto;
  }
</style>
