---
import { getCollection } from "astro:content";

import PageLayout from "../layouts/PageLayout.astro";
import EpisodeItem from "../components/Episode.astro";
import GuestGallery from "../components/GuestGallery.astro";
import Form from "../components/NewsletterForm.astro";
import Subscribe from "../components/Subscribe.astro";

import { SHOW_TITLE, SHOW_DESCRIPTION } from "../consts";

import { Content as Signup } from "./_signup.md";
import { Content as Hosts } from "./_hosts.md";
import { Content as Sponsor } from "./_sponsor.md";

const episodes = await getCollection("episodes");
---

<PageLayout>
  <header>
    <h1 set:html={SHOW_TITLE} />
    <p set:html={SHOW_DESCRIPTION} />
  </header>

  <section>
    <Subscribe />
  </section>

  <section>
    {episodes.map((episode) => <EpisodeItem {...episode.data} />)}
  </section>

  <section>
    <Signup />
    <Form />
  </section>

  <aside>
    <GuestGallery />
  </aside>

  <section>
    <Hosts />
  </section>

  <section>
    <Sponsor />
  </section>
</PageLayout>

<style>
  header,
  section {
    max-width: 75ch;
    margin: 0 auto;
    padding: 0 2em;
  }

  section {
    padding-top: 3em;
  }

  section :global(article) {
    margin-bottom: 2em;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1;
    font-weight: 900;

    + p {
      margin-top: min(1.5vw, 1em);
      font-size: 1.3em;
      line-height: 1.2;
      font-weight: 600;
      text-wrap: balance;
    }
  }

  :global(#coming-soon + p) {
    text-wrap: balance;
  }

  section :global(> p) {
    max-width: 60ch;
    margin: 0.6em 0;
  }

  section :global(:is(h1, h2, h3, h4)) {
    font-size: 2em;
    font-weight: 900;
  }

  section :global(> * + :is(h1, h2, h3, h4)) {
    font-weight: 900;
    margin-top: min(5%, 3em);
  }

  aside {
    max-width: 100ch;
    margin: min(5%, 3em) auto;
  }
</style>
