---
import Layout from "../layouts/Layout.astro";
import GuestGallery from "../components/GuestGallery.astro";
import Form from "../components/NewsletterForm.astro";

import { SHOW_TITLE, SHOW_DESCRIPTION } from "../consts";

import { Content as Soon } from "./_soon.md";
import { Content as Hosts } from "./_hosts.md";
import { Content as Sponsor } from "./_sponsor.md";
---

<Layout>
  <main>
    <header>
      <h1 set:html={SHOW_TITLE} />
      <p set:html={SHOW_DESCRIPTION} />
    </header>

    <section>
      <Soon />
      <Form />
    </section>

    <aside>
      <GuestGallery />
    </aside>

    <section>
      <Hosts />
    </section>

    <section>
      <Sponsor />
    </section>
  </main>
</Layout>

<style>
  main {
    padding-top: min(28vw, 12em);
    padding-bottom: min(28vw, 13em);
    max-width: 100ch;
    margin: 0 auto;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      max-width: 80ch;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      pointer-events: none;
    }

    &::before {
      border: var(--border);
      border-width: 0.8em;
      z-index: -2;
      background-image: url("/assets/jungle-branches.png");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 102% auto;
    }

    &::after {
      max-width: 85ch;
      background-image: url("/assets/jungle-crocodil.png");
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: 40% auto;
    }

    header,
    section {
      max-width: 75ch;
      margin: 0 auto;
      padding: 0 2em;
    }

    section {
      padding-top: 3em;
    }
  }

  h1 {
    font-size: 3.2em;
    line-height: 1;
    font-weight: 900;

    em {
      font-family: var(--neo-Grotesque);
      color: var(--color-primary);
      font-weight: 900;
    }

    span {
      font-family: var(--font-apricot);
    }

    + p {
      margin-top: min(1.5vw, 1em);
      font-size: 1.3em;
      line-height: 1.2;
      font-weight: 600;
      text-wrap: balance;
    }
  }

  main :global(#coming-soon + p) {
    text-wrap: balance;
  }

  section :global(> p) {
    max-width: 60ch;
    margin: 0.6em 0;
  }

  section :global(:is(h1, h2, h3, h4)) {
    font-size: 2em;
    font-weight: 900;
  }

  section :global(> * + :is(h1, h2, h3, h4)) {
    font-weight: 900;
    margin-top: min(5%, 3em);
  }

  aside {
    max-width: 100ch;
    margin: min(5%, 3em) auto;
  }
</style>
