@import "./reset.css";

:root {
  --slab-serif: "Rockwell", "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;
  --industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;

  --paper: #fffaf0;
  --paper-inverted: #000;

  --text: #000;
  --text-inverted: #fffaf0;

  --color-primary: #ff0075;
  --color-secondary: #fcba03;
  --color-accent: green;

  --headings-font-family: var(--neo-Grotesque);
  --default-font-family: var(--neo-Grotesque);
  --cta-font-family: var(--neo-Grotesque);

  --border-radius: 0;
  --border-width: 2px;
  --border-style: solid;
  --border: var(--border-width) var(--border-style) var(--paper-inverted);
}

html {
  font-size: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
}

body {
  background-color: var(--paper);
  color: var(--text);
  font-family: var(--default-font-family);
  font-size: 1em;
}

a {
  color: inherit;
}

em {
  font-style: normal;
  color: var(--color-primary);
}

strong {
  font-style: normal;
  color: var(--text-inverted);
  background-color: var(--paper-inverted);
  padding: 0.2em 0.4em;
}

button,
a.button,
.button {
  font-family: var(--cta-font-family);
  font-size: 0.8rem;
  padding: 0.6em 1.8em;
  cursor: pointer;
  background: var(--paper);
  color: var(--text);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: all 300ms ease-in-out;
  line-height: 1.1;
  text-decoration: none;

  &:hover {
    background-color: var(--paper-inverted);
    color: var(--text-inverted);
  }

  &.bold {
    background-color: var(--paper-inverted);
    color: var(--text-inverted);

    &:hover {
      background-color: var(--paper);
      color: var(--text);
    }
  }
}

nav {
  max-width: 100ch;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  gap: 1em;

  a {
    font-family: var(--cta-font-family);
  }

  .split {
    margin-left: auto;
  }

  + * {
    margin-top: 4em;
  }
}

.font-neo {
  font-family: var(--neo-Grotesque);
}

.font-black {
  font-weight: 900;
}

.text-primary {
  color: var(--color-primary);
}
